
.KOSHIAN_QuoteMenu
{
    position: fixed;
    background-color: #f0f0f0;
    box-shadow: 2px 2px #707080;
    white-space: nowrap;
    z-index: 3;
}

.KOSHIAN_QuoteMenuText
{
    background-color: #d0d0d0;
    color: black;
    font-size: small;
}

.KOSHIAN_QuoteMenuItem
{
    color: black;
    width: 100%;
    text-align: right;
}

.KOSHIAN_QuoteMenuItem:hover
{
    background-color: #91C9F7;
}